.mt-20{
  margin-top: 20px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid cyan;
  border-color: cyan transparent cyan transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.todo_image{
  position: relative;
  display: block;
  max-width: 200px;
}
.todo_holder{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}
.todo_item{
  flex-grow: 1;
  width: 25%; 
  margin:0 auto;
  align-items: center;
  text-align: center;
}
.todo_item button{
  margin: 10px;
}